<!DOCTYPE html>
<head>
  <title>Sign Up</title>
</head>


<body>
  <% if(email){%>

    <p>You are already logged in <a href='/urls'><button>Welcome</button></a></p>

    <form action='/logout' method='post'>
      <button type='submit'>Logout</button>
    </form>


  <% } else {%>
  <form action='/register' method="post">
    <div class='container'>
      <label for='new-user-email'>Email</label>
      <input  id='new-user-email' type='email' placeholder='Enter Email' name='email' required>

      <label for='new-user-password'><b>Password</b></label>
      <input id='new-user-password' type='password'  placeholder='Enter Password' name='password' required>


      <input type='checkbox' checked='checked'> Remember me


      <div class='clearfix'>

        <button type='submit' class='signupbtn'>
          Sign Up
        </button>
      </div>
    </div>
  </form>
  <form action='/login'>
    <button type='submit'  class='cancelbtn'>
      Cancel
    </button>
  </form>

<p>list of user & thier passwords</p>
     <ul>
       <% for (const userIndex in user) { %>
         <li>
           <%= user[userIndex].email %> - <%= user[userIndex].password %>
           <%user.forEach(function(user){ %>

           <% }) %>

           </form>
         </li>
     <% } %>
     </ul>



  <% } %>
</body>
