<!DOCTYPE html>
<form action="/login">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for='new-users-password'><b>Password</b></label>
    <input type="password" id='new-users-password' placeholder="Enter Password" name="psw" required>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <input type="checkbox" checked="checked"> Remember me


    <div class="clearfix">

      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
<form action="/login">
  <button type="submit"  class="cancelbtn">Cancel</button>
</form>



