<!DOCTYPE html>
<head>
  <title><%= email %></title>
</head>


<body>

  <% if(email){%>
    <form action='/logout' method='post'>
      <button type='submit'>Logout</button>
    </form>


        <h2>Create new URL</h2>

      <form action="/urls/:email">
        <button type='submit' >Create</button>
      </form>


    <h1>URLS</h1>


    <ul>
      <% for (const urlIndex in urls) { %>
        <li>

          <%= urls[urlIndex].long %> - <%= urls[urlIndex].short %>
          <%urls.forEach(function(urls){ %>
          <% }) %>


        </li>
      <% } %>
    </ul>
  <% } else {%>
    <p>You should go <a href='/login'><button>login</button></a></p>
  <% } %>

</body>
